*{margin: 0;padding: 0;box-sizing: border-box;
/* 단스타일 여기부터 */
* 단스타일 여기부터}
.my-dan .my-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;/*양끝정렬 여
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}
.my-dan .my-col{
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
} 
.my-dan.grid1 .my-row .my-col{flex-basis: 100%;
.my-dan.grid2 .my-row .my-col{flex-basis: 50%}
.my-dan.grid3 .my-row .my-col{flex-basis: 33.33
.my-dan.grid4 .my-row .my-col{flex-basis: 25%}
    
.my-dan .my-row.padding10 .my-row .my-col{paddi
.my-dan .my-row.padding20 .my-row .my-col{paddi
.my-dan .my-row.padding30 .my-row .my-col{paddi
.my-dan .my-col-inner{
  background-color: #ccc;
  border: 1px solid #000;
}
.my-dan .my-col-inner{width: 100%; height: auto
style>
ad>
y>
iv class="wrap">
<div class="my-dan">
  <my-row>
    <my-row>
      <div class="my-col">
    </my-row>
  </my-row>
  <div class="my-col-inner">
여기에서 배너,동영상,슬라이드요소복사
  </div>
  <div class="my-dan grid1">
    <div class="my-col">
    <div class="my-col-inner">
  여기에서 배너,동영상,슬라이드요소복사
    </div>
    <div class="my-dan grid2">
      <div class="my-col">
      <div class="my-col-inner">
    여기에서 배너,동영상,슬라이드요소복사
  </div>
  <div class="my-dan grid3">
    <div class="my-col">
    <div class="my-col-inner">
  여기에서 배너,동영상,슬라이드요소복사       
  
  </div>
      <div class="my-dan grid3 padding10">
        <div class="my-col">
        <div class="my-col-inner">
      여기에서 배너,동영상,슬라이드요소복사
      
        </div>         
</div>
div>
dy>
ml>